IOT/main/noderedFINAL.json
[
    {
        "id": "53b59f890c40bd14",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f77e1fee7cb9aa38",
        "type": "group",
        "z": "53b59f890c40bd14",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cdf0a9a4860e03ae",
            "b813ea33a1e1f63d",
            "dee09fd20529f55f",
            "d845484ab644500a",
            "33f68d1f7a6d66a9",
            "ef2effa042ef1bba",
            "2469a6bcfe51c97d"
        ],
        "x": 1494,
        "y": -1,
        "w": 232,
        "h": 442
    },
    {
        "id": "03b58927ca4999e0",
        "type": "group",
        "z": "53b59f890c40bd14",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "26de103545f647cb",
            "63d824243003d035",
            "1469097d539f36a2",
            "e42c7c3f1150a6a7",
            "a68e1b554d8900b7",
            "7a61c66adae8788c",
            "10a8d6654f4106a1"
        ],
        "x": 1254,
        "y": 379,
        "w": 212,
        "h": 442
    },
    {
        "id": "d0df50793d3090e9",
        "type": "group",
        "z": "53b59f890c40bd14",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ac011741949b0b37",
            "49eef8fabed1dd50",
            "470a6a63044e255d",
            "8a8f285ce588d391",
            "7b4591196d6db6fa",
            "b413b65b2b4283f9"
        ],
        "x": 994,
        "y": 839,
        "w": 472,
        "h": 202
    },
    {
        "id": "cdf0a9a4860e03ae",
        "type": "ui_chart",
        "z": "53b59f890c40bd14",
        "g": "f77e1fee7cb9aa38",
        "name": "",
        "group": "3a81c74a9cadd866",
        "order": 1,
        "width": "3",
        "height": "3",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1620,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "0fa9d1ffa0cc4453",
        "type": "serial in",
        "z": "53b59f890c40bd14",
        "name": "ESP",
        "serial": "0c711f93452822e2",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "b0f5d36eb35ecc24",
                "71ae0e7ea064eb27"
            ]
        ]
    },
    {
        "id": "ebdafc05479cf5c4",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "Extract temp",
        "func": "msg.topic=\"temperature\"\nmsg.payload = msg.payload.status.temperature;\nconsole.log(\"temperature:\" + String(msg.payload));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "cdf0a9a4860e03ae",
                "7a61c66adae8788c"
            ]
        ]
    },
    {
        "id": "fcbedb0ef97a76bd",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "Extract light",
        "func": "msg.topic=\"light\"\nmsg.payload = msg.payload.status.light;\nconsole.log(\"light:\" + String(msg.payload));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "b813ea33a1e1f63d",
                "a68e1b554d8900b7"
            ]
        ]
    },
    {
        "id": "b813ea33a1e1f63d",
        "type": "ui_chart",
        "z": "53b59f890c40bd14",
        "g": "f77e1fee7cb9aa38",
        "name": "",
        "group": "3a81c74a9cadd866",
        "order": 2,
        "width": "3",
        "height": "3",
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9a54b62670629f2b",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "Extract fanspeed",
        "func": "msg.topic=\"fanspeed\"\nmsg.payload = msg.payload.status.fanspeed;\nconsole.log(\"Fan Speed:\" + String(msg.payload));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "dee09fd20529f55f",
                "10a8d6654f4106a1"
            ]
        ]
    },
    {
        "id": "dee09fd20529f55f",
        "type": "ui_gauge",
        "z": "53b59f890c40bd14",
        "g": "f77e1fee7cb9aa38",
        "name": "",
        "group": "3a81c74a9cadd866",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fan speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1590,
        "y": 160,
        "wires": []
    },
    {
        "id": "26de103545f647cb",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "03b58927ca4999e0",
        "group": "1b86015c.b9ebea",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Regul",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 600,
        "wires": []
    },
    {
        "id": "fcc0f5985c071961",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "Extract Regul",
        "func": "msg.topic=\"regul\"\nmsg.payload = msg.payload.status.regul;\nconsole.log(\"regul:\" + String(msg.payload));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "26de103545f647cb"
            ]
        ]
    },
    {
        "id": "ed2f6795ac9ae976",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "Extract heat",
        "func": "msg.topic=\"heat\"\nvar heat = msg.payload.status.heat;\nconsole.log(\"Heat:\" + String(heat));\nvar heatText = heat === \"ON\" ? \"Heating On\" : \"Heating Off\";\n\nreturn { payload: heatText };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "63d824243003d035",
                "d845484ab644500a",
                "ef2effa042ef1bba"
            ]
        ]
    },
    {
        "id": "63d824243003d035",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "03b58927ca4999e0",
        "group": "1b86015c.b9ebea",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heating",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1340,
        "y": 660,
        "wires": []
    },
    {
        "id": "1f5bfc1387ef1b27",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "Extract cooling",
        "func": "msg.topic=\"cold\"\nvar cooling = msg.payload.status.cold;\nconsole.log(\"Cold:\" + String(cooling));\nvar coolingText = cooling === \"ON\" ? \"Cooling On\" : \"Cooling Off\";\n\nreturn { payload: coolingText };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 720,
        "wires": [
            [
                "1469097d539f36a2",
                "33f68d1f7a6d66a9",
                "2469a6bcfe51c97d"
            ]
        ]
    },
    {
        "id": "1469097d539f36a2",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "03b58927ca4999e0",
        "group": "1b86015c.b9ebea",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cooling",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1340,
        "y": 720,
        "wires": []
    },
    {
        "id": "46e58bb0ed7f3219",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "Extract fire",
        "func": "msg.topic=\"fire\"\nvar fire = msg.payload.status.fire;\nconsole.log(\"Fire:\" + String(fire));\nvar fireText = fire === true ? \"Fire detected\" : \"No fire detected\";\n\nreturn { payload: fireText };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "e42c7c3f1150a6a7"
            ]
        ]
    },
    {
        "id": "e42c7c3f1150a6a7",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "03b58927ca4999e0",
        "group": "1b86015c.b9ebea",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fire",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 780,
        "wires": []
    },
    {
        "id": "c07723f0636c83b7",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "function 1",
        "func": "msg.payload = msg.payload\nconsole.log(msg)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "71ae0e7ea064eb27",
        "type": "json",
        "z": "53b59f890c40bd14",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "c07723f0636c83b7",
                "ebdafc05479cf5c4",
                "fcbedb0ef97a76bd",
                "9a54b62670629f2b",
                "fcc0f5985c071961",
                "ed2f6795ac9ae976",
                "1f5bfc1387ef1b27",
                "46e58bb0ed7f3219",
                "ac011741949b0b37",
                "470a6a63044e255d",
                "7b4591196d6db6fa",
                "64697ef28b1d313c",
                "8ed03043542db34c"
            ]
        ]
    },
    {
        "id": "b0f5d36eb35ecc24",
        "type": "debug",
        "z": "53b59f890c40bd14",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "7a61c66adae8788c",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "03b58927ca4999e0",
        "group": "1b86015c.b9ebea",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1360,
        "y": 480,
        "wires": []
    },
    {
        "id": "a68e1b554d8900b7",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "03b58927ca4999e0",
        "group": "1b86015c.b9ebea",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 540,
        "wires": []
    },
    {
        "id": "10a8d6654f4106a1",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "03b58927ca4999e0",
        "group": "1b86015c.b9ebea",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fan speed",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1350,
        "y": 420,
        "wires": []
    },
    {
        "id": "d845484ab644500a",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "f77e1fee7cb9aa38",
        "group": "3a81c74a9cadd866",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Heating",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1600,
        "y": 220,
        "wires": []
    },
    {
        "id": "33f68d1f7a6d66a9",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "f77e1fee7cb9aa38",
        "group": "3a81c74a9cadd866",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Cooling",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef2effa042ef1bba",
        "type": "ui_led",
        "z": "53b59f890c40bd14",
        "g": "f77e1fee7cb9aa38",
        "order": 5,
        "group": "3a81c74a9cadd866",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Heating On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led heating",
        "x": 1610,
        "y": 280,
        "wires": []
    },
    {
        "id": "2469a6bcfe51c97d",
        "type": "ui_led",
        "z": "53b59f890c40bd14",
        "g": "f77e1fee7cb9aa38",
        "order": 7,
        "group": "3a81c74a9cadd866",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Cooling On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led cooling",
        "x": 1630,
        "y": 400,
        "wires": []
    },
    {
        "id": "ac011741949b0b37",
        "type": "function",
        "z": "53b59f890c40bd14",
        "g": "d0df50793d3090e9",
        "name": "Identification",
        "func": "msg.topic=\"ident\"\nvar ident = msg.payload.info.ident;\nconsole.log(\"ident:\" + String(ident));\n\nreturn { payload: ident };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 880,
        "wires": [
            [
                "49eef8fabed1dd50"
            ]
        ]
    },
    {
        "id": "49eef8fabed1dd50",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "d0df50793d3090e9",
        "group": "48a785d87ec8b3c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Identification",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1360,
        "y": 880,
        "wires": []
    },
    {
        "id": "470a6a63044e255d",
        "type": "function",
        "z": "53b59f890c40bd14",
        "g": "d0df50793d3090e9",
        "name": "User",
        "func": "msg.topic=\"user\"\nvar user = msg.payload.info.user;\nconsole.log(\"ident:\" + String(user));\n\nreturn { payload: user };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "8a8f285ce588d391"
            ]
        ]
    },
    {
        "id": "8a8f285ce588d391",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "d0df50793d3090e9",
        "group": "48a785d87ec8b3c3",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "User",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 940,
        "wires": []
    },
    {
        "id": "7b4591196d6db6fa",
        "type": "function",
        "z": "53b59f890c40bd14",
        "g": "d0df50793d3090e9",
        "name": "Loc",
        "func": "msg.topic=\"loc\"\nvar loc = msg.payload.info.loc;\nconsole.log(\"ident:\" + String(loc));\n\nreturn { payload: loc };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1000,
        "wires": [
            [
                "b413b65b2b4283f9"
            ]
        ]
    },
    {
        "id": "b413b65b2b4283f9",
        "type": "ui_text",
        "z": "53b59f890c40bd14",
        "g": "d0df50793d3090e9",
        "group": "48a785d87ec8b3c3",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Loc",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4c757088e55b0b43",
        "type": "ui_slider",
        "z": "53b59f890c40bd14",
        "name": "",
        "label": "Lower Treshold",
        "tooltip": "",
        "group": "3a81c74a9cadd866",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "b2a1597fa995e369"
            ]
        ]
    },
    {
        "id": "8ed03043542db34c",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "extract lowerThreshold",
        "func": "msg.topic=\"regullt\"\nmsg.payload = parseInt(msg.payload.regul.lt);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 400,
        "wires": [
            [
                "4c757088e55b0b43"
            ]
        ]
    },
    {
        "id": "b2a1597fa995e369",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "format lt",
        "func": "msg.topic=\"regullt\"\nlet lt = msg.payload \nconsole.log(lt)\nmsg.payload = [\"lt\", lt]\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "acfddc61bed2d3f7",
                "c859337ffdce579b"
            ]
        ]
    },
    {
        "id": "d59f5cda258793cc",
        "type": "ui_slider",
        "z": "53b59f890c40bd14",
        "name": "",
        "label": "Upper Treshold",
        "tooltip": "",
        "group": "3a81c74a9cadd866",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "ut",
        "topicType": "msg",
        "min": "-10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "1b9f0598655ca11e"
            ]
        ]
    },
    {
        "id": "64697ef28b1d313c",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "extract uppedThreshold",
        "func": "msg.topic=\"regulht\"\nmsg.payload = msg.payload.regul.ht;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 480,
        "wires": [
            [
                "d59f5cda258793cc"
            ]
        ]
    },
    {
        "id": "1b9f0598655ca11e",
        "type": "function",
        "z": "53b59f890c40bd14",
        "name": "format lt",
        "func": "msg.topic=\"regulht\"\nlet ht = msg.payload \nconsole.log(ht)\nmsg.payload = [\"ht\", ht]\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "17630c79832b668d",
                "53af4406646710de"
            ]
        ]
    },
    {
        "id": "acfddc61bed2d3f7",
        "type": "serial out",
        "z": "53b59f890c40bd14",
        "name": "LT",
        "serial": "0c711f93452822e2",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "17630c79832b668d",
        "type": "serial out",
        "z": "53b59f890c40bd14",
        "name": "UT",
        "serial": "0c711f93452822e2",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "c859337ffdce579b",
        "type": "debug",
        "z": "53b59f890c40bd14",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "53af4406646710de",
        "type": "debug",
        "z": "53b59f890c40bd14",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "3a81c74a9cadd866",
        "type": "ui_group",
        "name": "Climatisation",
        "tab": "5a7a3f39.16b81c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c711f93452822e2",
        "type": "serial-port",
        "name": "ESP",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1b86015c.b9ebea",
        "type": "ui_group",
        "name": "Raw data",
        "tab": "5a7a3f39.16b81c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48a785d87ec8b3c3",
        "type": "ui_group",
        "name": "Info",
        "tab": "5a7a3f39.16b81c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a7a3f39.16b81c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
